body {
	margin: 0;
	padding: 0;
    background-color: cornsilk;
}

.article {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    font-family: sans-serif;
}

.article__heading {
    margin: 0 0 1.5rem 0;
}

.article__heading--verified {
    color: palevioletred;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__figure {
    margin: 16px 0;
}

.figure__image {
    max-width: 100%;
}

.figure__caption {
    text-align: center;
    margin-top: 8px;
    font-style: italic;
}